

html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}
body {
/*  position: relative;*/

  margin: 0 0 0 0;
  padding: 0;
  background: #c1e2b3;
  font-family: Calibri,Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  background: center;
  width: 100%;
  background-image: url('../img/jeje.png');
}


#color1{
  background-color: #333;
  color: #fff;
  z-index: 12;
  box-shadow: 0px 0px 15px -5px #000;
  text-align: right;
  /*}
  ul li:hover ul{
    display: block;*/
}

#separasdor{
  background-color: #eeec18;
  height: 4px;
  width: 100%;
  box-shadow: 0px 3px 15px 5px #001c06;
}

#separasdor2{
  background-color: #005a1e;
  height: 10px;
  width: 100%;
}

#colordelmenu{
  background-color: #005a1e;
  margin: 0px 0px 0px 0px;  
}

#colorletra{
  font-family: Calibri,Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
}

#imgPerfil{  
  height: 80px;
  width: 80px;
  background-image: url('../img/avatar.png');
}
#imgPortadalogin4{

  width: 100%;
  height: 220px;
  background-image: url('../img/portada4.png');
}
#imgPortada{
  width: 100%;
  height: 220px;
  background-image: url('../img/portada.png');
}
#imgPortada2{
  background: center;
  width: 100%;
  height: 220px;
  background-image: url('../img/portada3.png');

}
#imgProducto{
  height: 140px;
  width: 140px;
  margin: 15px 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#imgProducto:hover {
  height: 170px;
  width: 170px;
}
#imgCafetal{
  height: 140px;
  width: 140px;
  margin: 15px 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#imgCafetal:hover {
  height: 170px;
  width: 170px;
}
#imgPersonal{
  height: 140px;
  width: 140px;
  margin: 15px 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#imgPersonal:hover {
  height: 170px;
  width: 170px;
}
#imgPortada3{
  background: center;
  width: 100%;
  height: 220px;
  background-image: url('../img/portada1.png');
}
#imgPortada4{
  background: center;
  width: 100%;
  height: 220px;
  background-image: url('../img/portada2.png');
}

#imgespanol{
  background: center;
  margin-left: 50px;
  width:  60px;
  padding-top: 30px;
  background-image: url('../img/espanol.gif');

}
#imgingles{
  background: center;
  margin-left: 50px;
  width:  60px;
  padding-top: 30px;
  background-image: url('../img/ingles.gif');

}
#imgmasivo{
  background: center;
  margin-left: 20px;
  width:  60px;
  padding-top: 30px;
  background-image: url('../img/masivo.gif');

}
#imgfiltros{
  background: center;
  width:  60px;
  padding-top: 30px;
  background-image: url('../img/filtros.gif');

}
#imgelifiltro{
  background: center;
  width:  60px;
  padding-top: 30px;
  background-image: url('../img/elifiltro.gif');

}
#imgreporte{
  background: center;
  width:  60px;
  padding-top: 30px;
  background-image: url('../img/reporte.gif');

}
#imgnuevo{
  background: center;
  width:  60px;
  padding-top: 30px;
  background-image: url('../img/nuevo.gif');

}
#cuerpo{
  width: 100%;
}



  #cuerpo2{
    background: center;
    width: 58.2%;
  }
  
 #cuerpo3{
       
  }



#encabezado{
  width:900px; 
  height: 300px;
}

#contenido{
  margin: 50px 0px 0px 0px;
  width:100%;
}
/*#derecha{
 
  width: 800px;
  padding: 70px 20px 15px 30px ;
  margin: -50px 0px 0px 270px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}*/

/*.j1 > div {
  border: #000000 solid 1px;
}*/




.yo{
  margin: 0px 0px 0px -600px; 
}
#pie{
  width:95%;
  clear:both;
  padding:15px;
  text-align:center;
  -moz-border-radius:0px 0px 0px 0px;
  -webkit-border-radius:0px 0px 0px 0px;
  background:#2E8B57;
}

table > thead > tr:first-child {
  width: 20px;
}

#cuadrito{
  width: 40px;
}


table > thead > tr, table > tfoot > tr {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}


.alert {
  margin-top: 15px;
  margin-bottom: 0px;
}



.form-control-gonza1 {
  margin: 0px 0px 0px 0px;
  width: 300px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



.form-control-gonza2 {
  margin: 0px 0px 0px 16px;
  width: 300px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-filtro1 {
  margin: 0px 0px 0px 0px;
  width: 228px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-filtro2 {
  margin: 0px 0px 0px 5px;
  width: 228px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-gonza3{
  margin: 0px 0px 0px 0px;
  width: 200px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#error{
  width: 620px;
  height: 34px;
  margin: 0px 0px 10px 130px;
  padding:  5px 0px 0px 10px;
}

#close{
  width: 15px; 
  margin: 2px 30px 10px 0px;
}

#margenImagen{
  width: 180px;
  height: 150px;
}  

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: rgba(242, 249, 10, 0.67);
  background-color: #99C26D;
}    



