html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}
body {
/*  position: relative;*/

  margin: 0 0 0 0;
  padding: 0;
  background: #c1e2b3;
  font-family: Calibri,Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  background: center;
  width: 100%;
  background-image: url('../img/jeje.png');
  position: relative;
}

th{background: #c1e2b3 ;padding:5px;text-align:center;}

h1, h2, div, a, p{
color:#005a1e; 
}

    
    
#color1{
  background-color: #333;
  color: #fff;
  z-index: 12;
  box-shadow: 0px 0px 15px -5px #000;
  text-align: right;
  /*}
  ul li:hover ul{
    display: block;*/
}

#separasdor{
  background-color: #eeec18;
  height: 4px;
  width: 100%;
  box-shadow: 0px 3px 15px 5px #001c06;
}

#separasdor2{
  background-color: #005a1e;
  height: 10px;
  width: 100%;
}

#colordelmenu{
  background-color: #005a1e;
  margin: 0px 0px 0px 0px;  
}

#colorletra{
  font-family: Calibri,Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
}

/*#imgPerfil{  
  height: 80px;
  width: 80px;
  background-image: url('../img/avatar.png');
}*/

#imgPortada4{
  background: center;
  width: 100%;
  height: 250px;
  background-image: url('../img/portada1.png');
}

#imgPortada{
  width: 100%;
  height: 250px;
  background-image: url('../img/portada2.png');
}
#imgPortada2{
  background: center;
  width: 100%;
  height: 250px;
  background-image: url('../img/portada3.png');

}

#imgPortada3{
  background: center;
  width: 100%;
  height: 250px;
  background-image: url('../img/portada4.png');
}

#imgPortadalogin4{

  width: 100%;
  height: 250px;
  background-image: url('../img/portada5.png');
}

#imgPortada5{
  background: center;
  width: 100%;
  height: 250px;
  background-image: url('../img/portada6.png');

}

#imgProducto{
  border-color: #005a1e;
  border-width:3px ;
  height: 140px;
  width: 140px;
  margin: 15px 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#imgProducto:hover {
  height: 150px;
  width: 150px;
}
#imgCafetal{
  border-color: #005a1e;
  border-width:3px ;
  height: 140px;
  width: 140px;
  margin: 15px 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#imgCafetal:hover {
  height: 150px;
  width: 150px;
}
#imgPersonal{
  border-color: #005a1e;
  border-width:3px ;
  height: 140px;
  width: 140px;
  margin: 15px 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#imgPersonal:hover {
  height: 150px;
  width: 150px;
}

#imgespanol{
  width: 60px;
  height: 45px;
  background-image: url('../img/colombia.png');

}
#imgingles{
  width: 60px;
  height: 45px;
  background-image: url('../img/usa.png');

}
#imgmasivo{
  background: center;
  margin-left: 20px;
  width:  60px;
  padding-top: 30px;
  background-image: url('../img/masivo.gif');

}
#imgfiltros{
  background: center;
  width:  60px;
  padding-top: 30px;
  background-image: url('../img/filtros.gif');

}
#imgelifiltro{
  background: center;
  width:  60px;
  padding-top: 30px;
  background-image: url('../img/elifiltro.gif');

}
#imgreporte{
  background: center;
  width:  60px;
  padding-top: 30px;
  background-image: url('../img/reporte.gif');

}
#imgnuevo{
  background: center;
  width:  60px;
  padding-top: 30px;
  background-image: url('../img/nuevo.gif');

}
#cuerpo{
  width: 100%;
}

 #cuerpoReporte2{
    background: center;
    width: 85%;
  }
  #cuerpoReporte1{
   margin-top:   -50px;
   background-color: #efebce;
      width: 90%;      
  }

  #cuerpo2{
    background: center;
    width: 58.2%;
  }
  #cuerpo5{
    background: center;
    width: 85%;
    margin-top:   -127px;
   background-color: #efebce;
  }
  
 #cuerpo4{
   margin-top:   -50px;
   //padding-top: 50px;
  // background-color: #f0eccf;
   background-color: #efebce;
      width: 70%;      
  }
  #cuerpo3{
    background: center;
    width: 70%;
  }

#cuerpo6{
   margin-top:   -100px;
   //padding-top: 50px;
  // background-color: #f0eccf;
   background-color: #efebce;
      width: 70%; 
  }
#cuerpo7{
   margin-top:   -50px;
   //padding-top: 50px;
  // background-color: #f0eccf;
   background-color: #efebce;
      width: 70%; 
  }

#encabezado{
  width:900px; 
  height: 300px;
}

#contenido{
  margin: 50px 0px 0px 0px;
  width:100%;
}
/*#derecha{
 
  width: 800px;
  padding: 70px 20px 15px 30px ;
  margin: -50px 0px 0px 270px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}*/

/*.j1 > div {
  border: #000000 solid 1px;
}*/




.yo{
  margin: 0px 0px 0px -600px; 
}
#pie{
  width:95%;
  clear:both;
  padding:15px;
  text-align:center;
  -moz-border-radius:0px 0px 0px 0px;
  -webkit-border-radius:0px 0px 0px 0px;
  background:#2E8B57;
}

table > thead > tr:first-child {
  width: 20px;
}

#cuadrito{
  width: 40px;
}

table.width200,table.rwd_auto {border:1px solid #ccc;width:100%;margin:0 0 50px 0}
        .width200 th,.rwd_auto th {background: #c1e2b3 ;padding:5px;text-align:center;}
        .width200 td,.rwd_auto td {border-bottom:1px solid #ccc;padding:5px;text-align:center}
        .width200 tr:last-child td, .rwd_auto tr:last-child td{border:1}
        
    .rwd {width:100%;overflow:auto;}
        .rwd table.rwd_auto {width:auto;min-width:100%}
            .rwd_auto th,.rwd_auto td {white-space: nowrap;}
            
    @media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)  
    {
    
        table.width200, .width200 thead, .width200 tbody, .width200 th, .width200 td, .width200 tr { display: block; }
        
        .width200 thead tr { position: absolute;top: -9999px;left: -9999px; }
        
        .width200 tr { border: 1px solid #ccc; }
        
        .width200 td { border: none;border-bottom: 1px solid #ccc; position: relative;padding-left: 50%;text-align:left }
        
        .width200 td:before {  position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap;}
        
        .descarto {display:none;}
        .fontsize {font-size:10px}
    }
    
//http://octuweb.com/responsive-tables//stilos para tablas

/*table > thead > tr, table > tfoot > tr {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  
}*/


.alert {
  margin-top: 15px;
  margin-bottom: 0px;
}



.form-control-gonza1 {
  margin: 0px 0px 0px 0px;
  width: 300px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



.form-control-gonza2 {
  margin: 0px 0px 0px 16px;
  width: 300px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-filtro1 {
  margin: 0px 0px 0px 10px;
  width: 165px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-filtro2 {
  margin: 0px 0px 0px 10px;
  width: 165px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-form2 {
  margin: 0px 0px 0px 10px;
  width: 230px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-gonza3{
  margin: 0px 0px 0px 0px;
  width: 200px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#error{
  width: 100%;
  height: 50%;
  padding:  5px;
}

#close{
  width: 15px; 
  margin: 2px 30px 10px 0px;
}

#margenImagen{
  width: 180px;
  height: 150px;
}  

#margenUsuario{
  margin: 5px 0px 0px 3px; 
  width: 180px;
  height: 150px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: rgba(242, 249, 10, 0.67);
  background-color: #99C26D;
}    



