
*{
margin:0px;
padding:0px;
}

body {
  font-family: Calibri,Arial,Helvetica,sans-serif;
}

body {
  margin: 0 0 0 0;
  padding: 0;  
  background: #c1e2b3;//color del fondo
  text-align: center;
  font-family: Calibri,Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

#contenido{
  width:auto;  
  float: right;
  margin: -20px 200px 0px 0px;
}

.alert {
  margin-top: 15px;
  margin-bottom: 0px;
}


#color1{
background-color: #333;
color: #fff;
z-index: 12;
box-shadow: 0px 0px 15px -5px #000;
text-align: right;
}
#formulario1{
  margin-left: 500px;
}

#crear{
  margin-right: 30px;
  font-family: Calibri,Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fff;
}

.form-control-gonza1 {
  margin: 8px 0px 0px 0px;
  width: 150px;
  height: 24px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-gonza2 {
  margin: 8px 10px 0px 10px;
  width: 150px;
  height: 24px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#encabezado{  
  width: 1024px;
  height: 40px;
  top: 0px;
  left: 0px;
  background-color: #dff0d8;
  color: #fff;  
  z-index: 12;
  box-shadow: 0px 0px 15px -5px #000;
  text-align: right;
}


#Logeo {  
  margin: 5px 0px 0px 0px;
  width: 100%;
  top: 30px;
  padding-top: 5px;
  height: 124px;
  left: 0px;
 // background-image: url('../img/fondologo.png');
  background-color: #c1e2b3;//color de donde va situado el logo
  box-shadow: 0px 1px 4px #111;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-sm-10 {
width: 100%;
}



#imgPortadalogin4{
  width:900px; 
  height: 400px;
  background-image: url('../img/principal3.png');
}
#imgPortada{
  width:900px; 
  height: 400px;
  background-image: url('../img/principal2.png');
}
#imgPortada2{
  width:900px; 
  height: 400px;
  background-image: url('../img/principal1.png');

}
#imgPortada3{
  width:900px; 
  height: 400px;
  background-image: url('../img/principal4.png');
}
#imgPortada4{
  width:900px; 
  height: 400px;
  background-image: url('../img/principal5.png');
}
/*#imgLogo{
  margin: 0px 0px 0px 300px;
  width:385px; 
  height: 90px;
  background-image: url('../img/logo.png');
}*/

#imgLogo{
margin: 10px 0px 0px 300px;
padding:  20px;
background: center;
 width:385px; 
 padding-top:47px;
  background-image: url('../img/logo.png');
  
}

.goncho1 { 
  margin: 8px 0px 0px 0px;
}

.goncho2 { 
  margin: 8px 0px 0px 5px;
  width: 60px;
  padding: 2px 5px;
  background: #ECF1F6;
  background-repeat: no-repeat;
  background-position: -40px -2px;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #aaaaaa;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  box-shadow: 1px 1px 2px #999999;
}

.form-group {
  margin-bottom: 0px;
}







